@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#e66465, #9198e5);
}

.todo-box {
  position: relative;
  /* display: flex;
  justify-content: center;
  text-align: center; */
  top: 200px;
  min-height: 50vh;
  width: 40%;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.5);
  padding: 2.5rem;
}

.time-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.time-date h3 {
  color: #5a68fa;

  font-weight: 500;
  letter-spacing: 2px;
}

.todo-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.todo-heading h2 {
  color: #686767;
}

.todo-heading img {
  width: 50px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1e0f8;
  border-radius: 40px;
}

input {
  flex: 1;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: transparent;
}

button {
  padding: 0.8rem 2.2rem;
  border-radius: 40px;
  background-color: #e66466;
  color: #fff;
  font-size: 1rem;
}
